@use '../../../consts/scss/colors' as colors;

.todo {
    &-wrapper {
        width: 100%;
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: left;
        min-height: 14rem;
        padding: 1rem;
        border-radius: 10px;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: 0 0 50px rgba(33, 33, 33, 0.2);
        }

        &__task {
            display: flex;
            flex: 1;
            flex-direction: column;
        }

        &__label {
            font-weight: 500;
            max-height: 2.5rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &__desc {
            max-height: 4rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre-line;
            overflow-y: auto;
        }

        &__date {
            width: 100%;
            display: flex;
            align-items: flex-start;
            margin-top: auto;
        }

        &__icon {
            width: 1.25rem;
            display: block;
            margin-right: 0.5rem;
        }

        &__buttons {
            width: 100%;
            padding-top: 1rem;
            margin-top: 1.2rem;
            border-top: 2px dashed colors.$grey;
        }
    }
}

.actions {
    display: flex;
    align-items: center;
    &__complete {
        background-color: colors.$yellow__bg;
        color: colors.$red--dark;
        padding: 0.4rem 0.75rem;
        font-weight: 500;
        font-family: inherit;
        font-size: 100%;
        border-radius: 30px;
        border: none;

        @media (max-width: 600px) and (min-width: 540px) {
            padding: 0.2rem 0.5rem;
            font-weight: 400;
        }

        &--done {
            background-color: colors.$green__bg;
            color: colors.$green;
        }
    }

    &__icons {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        padding: 0.2rem;

        &--important {
            margin-left: auto;
        }
    }
}
