.wrapper-todo {
    width: 100%;
}

.todo-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    min-height: 14rem;
    padding: 1rem;
    border-radius: 10px;
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0 0 50px rgba(33, 33, 33, 0.2);
    }

    &__task {
        display: flex;
        flex: 1;
        flex-direction: column;

        &__date {
            width: 100%;
            display: flex;
            align-items: flex-start;
            margin-top: auto;

            &__icon {
                width: 1.25rem;
                display: block;
                margin-right: 0.5rem;
            }
        }

        &__label {
            font-weight: 500;
            max-height: 2.5rem; 
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &__desc {
            max-height: 4rem; 
            overflow: hidden;
            text-overflow: ellipsis; 
            white-space: pre-line; 
            overflow-y: auto;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        width: 100%;
        border-top: 2px dashed #8a9eb7;
        padding-top: 1rem;
        margin-top: 1.2rem;

        &__complete {
            background-color: #fde68a;
            color: #95400e;
            padding: 0.4rem 0.75rem;
            font-weight: 500;
            font-family: inherit;
            font-size: 100%;
            border-radius: 30px;
            border: none;

            &--done {
                background-color: #a7f3d0;
                color: #1f765e;
            }
        }

        &__icons {
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
            padding: 0.2rem;

            &--important {
                margin-left: auto;
            }
        }
    }
}
