@use '../../consts/scss/colors' as colors;

.btn {
    color: colors.$white--03;
    display: block;
    border-radius: 0.5rem;
    padding: 0.8rem 1.5rem;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    transition: transform 0.2s;

    &:active {
        transform: scale(0.95);
    }
}
