@use '../../consts/scss/colors' as colors;

.sort-tasks {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 500;
        margin: 2rem 0;

        @media (max-width: 590px) {
            font-size: 1.3rem;
        }
    }

    &__options {
        padding: 0.75rem;
        margin-left: auto;

        @media (max-width: 590px) {
            padding: 0.5rem;
        }
    }
}

.options-sort {
    border-radius: 0.5rem;
    border-width: 2px;
    transition-duration: 0.15s;
    border-color: transparent;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    border: solid 2.5px transparent;
    outline: none;

    &:focus,
    &:active {
        border-color: colors.$root__purple !important;
    }
}
