.progress-bar__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.6rem;
}

.progress-bar__filler {
    height: 10px;
    width: 100%;
    border-radius: 50px;
}

.progress-bar__filler-color {
    height: 100%;
    background-color: #7c3aed;
    border-radius: inherit;
    text-align: right;
}

.progress-bar__tasks {
    display: block;
    margin-top: 1.7rem;
    padding-top: 1rem;
    border-top: 2px solid rgba(51, 65, 85, .3);
}

.progress-bar__tasks {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
}

.progress-bar__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.progress-bar__list__item {
    padding: 5px;
}

.progress-bar__list__item--completed {
    text-decoration: line-through;
}

.progress-bar__list__item--important {
    color: #f43f5e;
}