.task-form {
    display: flex;
    flex-direction: column;
    width: 30rem;
    border-radius: 0.5rem;

    @media (max-width: 800px) {
        width: 25rem;
    }

    @media (max-width: 580px) {
        width: 21rem;
    }

    @media (max-width: 480px) {
        width: 17rem;
    }

    @media (max-width: 370px) {
        width: 15rem;
    }

    &__label {
        margin-bottom: 0.3rem;
        font-size: 1rem;
        line-height: 1.5rem;

        @media (max-width: 460px) {
            font-size: 0.9rem;
        }
    }

    input,
    textarea {
        box-sizing: border-box;
        border-radius: 0.5rem;
        border-width: 2px;
        margin-bottom: 1rem;
        border: solid 2.5px transparent;
        padding: 0.75rem;
        width: 100%;
        font-family: inherit;
        font-size: 100%;
        font-weight: inherit;
        line-height: inherit;
        outline: none;

        @media (max-width: 420px) {
            margin-bottom: 0.7rem;
        }

        @media (max-width: 320px) {
            margin-bottom: 0.5rem;
        }

        &::placeholder {
            color: inherit;
        }

        &:hover,
        &:focus,
        &:active {
            border-color: #5b21b6;
        }
    }

    textarea {
        resize: none;
        height: 90px;

        @media (max-width: 800px) {
            height: 70px;
        }
    }

    &__mark {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        cursor: pointer;

        input {
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-right: 5px;
            accent-color: #5b21b6;
        }

        @media (max-width: 800px) {
            margin-bottom: 9px;
        }
    }
}

.picker-wrapper {
    width: 100%;
}

.data-picker {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.react-datepicker__header {
    background-color: #5b21b6 !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
    color: #e2e8ec !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.react-datepicker__day-names > div {
    color: #e2e8ec !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.react-datepicker__day--selected {
    background-color: #5b21b6 !important;
    color: #fff !important;
}

.react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle::after,
.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::after {
    height: 0 !important;
    width: 0 !important;
    border-width: 0px !important;
}

.react-datepicker__input-container {
    input {
        margin: 0;
        box-sizing: border-box;
        border-radius: 0.5rem;
        border-width: 2px;
        border: solid 2.5px transparent;
        padding: 0.75rem;
        width: 100%;
        font-family: inherit;
        font-size: 100%;
        font-weight: inherit;
        line-height: inherit;
        outline: none;
        color: inherit;
        background-color: inherit;

        &::placeholder {
            color: inherit;
        }

        &:hover,
        &:focus,
        &:active {
            border-color: #5b21b6;
        }
    }
}
