$purple__primary: #5b21b6;
$purple__bg: #7578b6;
$purple--02: #7946ca;
$purple--03: #7c3aed;
$grey: #8a9eb7;
$red--important: #f43f5e;
$red--dark: #95400e;
$green: #1f765e;
$green__bg: #a7f3d0;
$yellow__bg: #fde68a;
$white__primary: #e2e8f0;
$white--02: #f1f5f9;
$white--03: #f3eef9;
