$root__purple: #5b21b6;
$root__purple--light: #7c3aed;
$root__grey: #8a9eb7;
$root__data-picker__bg--dark: #7578b6;
$root__icon--important: #f43f5e;
$root__primary--light: #e2e8f0;
$btn__color: #f3eef9;
$btn--green: #1f765e;
$btn__bg--green: #a7f3d0;
$btn--dark-red: #95400e;
$btn__bg--yellow: #fde68a;
