@use '../../consts/scss/colors' as colors;

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 0.5rem;

    &__item {
        padding: 10px 12px;
        cursor: pointer;
        display: block;
        transition:
            background-color 0.3s,
            color 0.3s,
            border-right 0.1s;

        &--active {
            background-color: rgb(237, 233, 254);
            color: colors.$root__icon--important;
            border-right: 4px solid colors.$root__icon--important;
        }

        &--dark-active {
            background-color: rgba(51, 65, 85, 0.2);
            color: colors.$root__primary--light;
            border-right: 4px solid colors.$root__primary--light;
        }

        &:hover {
            color: colors.$root__icon--important;
        }

        &--dark-mode:hover {
            color: colors.$root__primary--light;
        }
    }
}
