.wrapper {
    width: 100%;
    overflow: auto;
    max-height: 100vh;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.container {
    padding: 1.25rem;
    padding-top: 2.25rem;
    box-sizing: border-box;
}
