.todo-section {
    &__title {
        display: block;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
        margin-top: 1.7rem;
        margin: 1rem 0;
        padding-top: 1rem;
        border-top: 2px solid rgba(51, 65, 85, 0.3);
    }

    &__list {
        padding: 0;
        margin: 0;
    }
}

.todos {
    list-style: none;

    &__item {
        padding: 5px;
        max-width: 9.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &--completed {
            text-decoration: line-through;
        }

        &--important {
            color: #f43f5e;
        }
    }
}
